@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css";

@import "nativewind/theme";

@theme {
  --color-primary: var(--dynamic-primary);
  --color-secondary: var(--dynamic-secondary);
  --color-text-base: var(--dynamic-text-base);
  --color-background: var(--dynamic-background);
  --color-background2: var(--dynamic-background2);
  --color-title: var(--dynamic-title);
  --color-error: var(--dynamic-error);
  --color-warning: var(--dynamic-warning);
  --color-success: var(--dynamic-success);

  --radius-card: 16px;
  --spacing-18: 4.5rem;
}
